@import "../../Parts/mixin";


.cool-theme {

    $sidebar-bg-color: #38373D;
    $primary-color: #918F9E;
    $primary-highlight-color: #b3b8c1;
    $border-color: #46454c;
    $submenu-bg-color: #46454c;
    $menu-icon-bg-color: #46454c;
    $menu-icon-color: #918F9E;
    $menu-icon-highlight-color: #fe6fff;
    $menu-header-color: #747479;
    $search-input-bg-color: #46454c;
    $footer-bg-color: #414046;
    $shadow-color: #2a292d;
    $scrollbar-color: #918F9E;

    @include themes($sidebar-bg-color,
    $primary-color,
    $primary-highlight-color,
    $border-color,
    $submenu-bg-color,
    $menu-icon-bg-color,
    $menu-icon-color,
    $menu-icon-highlight-color,
    $menu-header-color,
    $search-input-bg-color,
    $footer-bg-color,
    $shadow-color,
    $scrollbar-color);

}