body {
    display: flex;
    flex: content;
}

nav {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: max-content;
}

main {
    display: flex;
    flex-direction: column;
}

summary {
    font-size: xx-large;
}

    summary::marker {
        content: "§ ";
        padding-right: 4px;
    }

#GameDevProjects > details > details > summary {
    font-size: initial;
}

#ProjectName {
    font-size: larger;
}

footer {
    display: flex;
    flex-direction: row;
}

#chart-c9f02337-f428-4aa8-a500-d39d678701c1 .graph {
    fill: #ffffff;
}
#chart-c9f02337-f428-4aa8-a500-d39d678701c1 .color-0, #chart-c9f02337-f428-4aa8-a500-d39d678701c1 .color-0 a:visited {
    stroke: #000000;
    fill: #0060df;
}